<p>Dzień Dobry,</p>
<p>
  W ramach naszej współpracy chcielibyśmy zaprosić Państwo do rejestracji na naszej platformie. Dzięki temu będą Państwo
  mieli możliwość znalezienia i zaproszenia na rozmowę jednego z naszych kursantów. Poniżej znajduje się odnośnik do
  rejestracji.
</p>

<a href={{signupUrl}}><h3>Kliknij aby dokończyć rejestracje</h3></a>
<br>
<a href={{signupUrl}}>{{signupUrl}}</a>
