<p>Witaj,</p>
<p>
  Podobno zapomniałeś hasła. Jeśli to nie pomyłka wejdź w poniższy link, aby zresetować swoje hasło.
</p>

<a href={{forgotPasswordUrl}}><h2>Kliknij aby dokończyć rejestracje</h2></a>
<br>
<a href={{forgotPasswordUrl}}>{{forgotPasswordUrl}}</a>
