<h1>Dzień Dobry,</h1>
<p>
  W ramach naszej współpracy chcielibyśmy zaprosić Państwo do rejestracji na naszej platformie. Dzięki temu będą Państwo
  mieli możliwość znalezienia i zaproszenia na rozmowę jednego z naszych kursantów. Poniżej znajduje się odnośnik do
  rejestracji.
</p>

<a href={{signupUrl}}><h2>Kliknij aby dokończyć rejestracje</h2></a>
<br>
<a href={{signupUrl}}>{{signupUrl}}</a>
